*.go
*.info
*.log
*.trs
*~
,*
.dirstamp
/*.status
/INSTALL
/aclocal.m4
/autom4te.cache/
/bin/cuirass
/bin/cuirass-send-events
/bin/evaluate
/bin/remote-server
/bin/remote-worker
/build-aux/config.guess
/build-aux/config.sub
/build-aux/install-sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/test-driver
/build-aux/texinfo.tex
/cache/
/config.cache
/configure
/doc/version.texi
/src/cuirass/config.scm
Makefile
Makefile.in
pre-inst-env
stamp-vti
.tmp-mail