*.go
*.log
*.trs
/*.status
/INSTALL
/aclocal.m4
/autom4te.cache/
/bin/cuirass
/build-aux/config.guess
/build-aux/config.sub
/build-aux/install-sh
/build-aux/missing
/build-aux/test-driver
/cache/
/config.cache
/configure
/src/cuirass/config.scm
Makefile
Makefile.in
pre-inst-env
