*.go
*.log
*.trs
/*.status
/INSTALL
/aclocal.m4
/autom4te.cache/
/build-aux/config.guess
/build-aux/config.sub
/build-aux/install-sh
/build-aux/missing
/configure
Makefile
Makefile.in
pre-inst-env
/bin/cuirass
/config.cache
/cache/
