#/lib/systemd/system/cuirass-web.service
[Unit]
Description=The gnu cuirass web server
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
User=cuirass
Group=cuirass
#Type=forking
PIDFile=/run/cuirass-web.pid
#ExecStartPre=
ExecStart=/gnu/store/3mr4ma8fsqc0y94f9bvfhrb00hymdw7n-cuirass-1.99.99-git/bin/cuirass web --listen 0.0.0.0 --port 8300
#ExecReload=
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
