# This is a "service unit file" for the systemd init system to launch
# 'cuirass remote-worker'.  Drop it in /etc/systemd/system or similar
# to have 'cuirass remote-worker' automatically started.  Adjust the
# --workers= and --server= parameters to suit your set-up.

[Unit]
Description=Continuous integration remote worker for GNU Guix

[Service]
ExecStart=/gnu/store/3mr4ma8fsqc0y94f9bvfhrb00hymdw7n-cuirass-1.99.99-git/bin/cuirass \
    remote-worker --workers=2 --server=100.70.151.124:5555
Environment= LC_ALL=en_US.UTF-8 \
    'GUIX_LOCPATH=/var/guix/profiles/per-user/root/guix-profile/lib/locale'

[Install]
WantedBy=multi-user.target
