html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
    flex: 1 0 auto;
    padding: 1em 0em 1em;
}

.content-fixed-margin {
    flex: 1 0 auto;
    margin: 1em 3em;
}

#search input:focus {
    width: 500px;
}
#search #search-hints {
    display: none;
    position: absolute;
    z-index: 1;
    top: 3em;
    background: white;
    border: 1px solid #ced4da;
    border-top: none;
    width: 500px;
    box-shadow: 3px 3px 10px #ddd;
    padding: 1em;
}
#search:focus-within #search-hints {
    display: block;
}

/* Remove the dropdown-toggle arrow. */
.no-dropdown-arrow::after {
    content: none;
}

.footer {
    flex-shrink: 0;
    background-color: #f5f5f5;
}


#dashboard {
    display: block;
    margin: auto;
}

div.tooltip {
    position: absolute;
    opacity:0.8;
    z-index:1000;
    text-align:left;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:8px;
    color:#fff;
    background-color:#000;
    font: 12px sans-serif;
    max-width: 1000px;
    height: 30px;
}

.job-val {
    display: none;
}

.job-per {
    min-height: 1.5em;
    min-width: 8em;
}

.job-abs {
    display: none;
}
.progress {
    position:relative;
}
.progress span {
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    text-align:center;
    z-index:2;
}

.eval-nav  {
    display: inline-block;
}
